
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


#main {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 7px 20px 0px 20px;
   z-index: 1000;
    background-color: #ffffff; 
    /* border-bottom: 1px solid #ccc;  */
    position: fixed;
}

#main img {
    height: 60px;
    width: auto;
    margin-left: 50px;
}


.alim.small {
    display: flex;
    list-style: none;
    align-items: center;
    position: relative;
    left: 680px;
    top: -26px;
}


.alim.small li {
    margin-left: 20px;
    font-size: 13px; 
    margin-top: -30px;
}


.ali.large {
    display: flex;
    list-style: none;
    align-items: center;
    position: relative;
    left: -390px;
    top: 15px;
}


.ali.large li {
    margin-left: 19px;
    font-size: 18px; 
    margin-top: 40px;
}

.heart img{
    
    max-height: 4vh;
    max-width:4vw ;
    border-radius: 50%;
}
.wis-car{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
   padding-left: -50px;
   position: relative;
   top: 15px;
   left: -120px;
}
.wis-car li{
    position: relative;
    margin-left: -5px;
}
.to{
    border: 2px solid black;
    height:40px;
    width: 270px;
    border-radius: 10px;
    background-color:  #faf3de;
    padding-left: 15px;
    position: relative;
    top: -13px;
   left: 130px;
}
.to input{
    height: 100%;
    width: 75%;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color:  #faf3de;
}
.to button {
    height: 100%;
    width: 53px;
    border: none;
    border-radius: 10px;
     background-color:  #faf3de;
}
.to button .ser{
    height: 35%;
    width: auto;
}
a{
    text-decoration: none;
    color: black;
}
.l4 a{
    background-color: black;
    color: #fff;
    padding: 6px 10px 6px 10px;
}